@tailwind base;
@tailwind components;
@tailwind utilities;

/* Minimal, safe global defaults */
html,
body {
  height: 100%;
}

/* body {
  @apply bg-cream;
  color: black;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    sans-serif;
}

.dark {
  @apply bg-charcoal;
} */
